/* Mobile first approach to CSS  starting w/ screen width of 320px */
/* variables: */
:root {
  --primary: #ededf6;
  --secondary: #445876;
  --highlight: #670667;
  --bgColor: #030542;
  --heroImg: url(../images/darkSky.jpg);
}

/* universal selector - set box style */
* {
  box-sizing: border-box;

  /* for test purposes */
  /* border: 1px dotted red; */
}

/* set default font to ~10px per rem */
html {
  font-size: 62.5%;
}

body {
  /* make a flex container */
  display: flex;
  /* show items vertically -- these are the main containers */
  flex-direction: column;

  /* set up the screen */
  width: 100%; /* use entire screen */
  margin: 0; /* no margins */

  /* set default colors */
  color: var(--secondary);
  background-color: var(--bgColor);

  /* set default fonts */
  font-family: "Noto Sans", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

/*********************************** Header ***********************************/
header {
  /* be sure to keep the background color when scrolling */
  color: var(--primary);
  background-color: var(--highlight); /* used if no image */
  background-image: var(--heroImg);
  background-size: cover;
  padding: 0.5rem;

  /* set up how items fit in the container */
  display: flex;
  flex-direction: column;

  /* fix to the top of the page (sticky does this without relative positioning!) */
  position: sticky;
  top: 0;
  z-index: 10; /* force it to be on top */
}

.logo {
  padding: 0.5rem;
}
/* size the head shot image */
.logo img {
  display: none;
}

.logo h1 {
  text-align: center;
  font-size: 2rem;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 0.5rem;
}

nav a {
  padding: 0.25rem;
  line-height: 2rem;
  text-align: center;
}

nav .bar {
  border-right: 0.2rem solid;
  margin: 0.5rem;
  align-self: stretch;
}

/******************************* Main sections  *******************************/

.hero {
  display: none;
}

.aboutMe,
.myWork,
.contactMe {
  background-color: var(--primary);
  margin: 0.5rem;
  padding: 0.5rem;

  scroll-margin-top: 10rem;
  flex-direction: column;
}

/**** About Me ****/
.aboutMe p {
  text-indent: 3rem;
  text-align: justify;
  padding: 0.25rem;
}

/**** My Work ****/
.myWork .content {
  flex-direction: column;
}

.myWork a {
  position: relative;
  padding: 1rem;
}

.myWork img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  object-position: top;
}

.img-text {
  /* position the box */
  position: absolute;
  top: 5rem;
  left: 0;

  /* make the box look good */
  color: var(--primary);
  background-color: var(--highlight);
  padding: 1rem;
  padding-left: 5rem;
  max-width: 75%;
}

.project-name {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.technologies {
  font-style: italic;
}

/**** Contact Me ****/
.contactMe .content {
  justify-content: space-around;
  flex-direction: column;
}

.contactMe ul {
  flex-direction: column;
  align-items: center;
}

.contactMe li {
  border-bottom: 0.3rem solid var(--highlight);
  padding: 0.4rem;
}

.contactMe a {
  font-weight: bold;
  color: var(--highlight);
}

/**************************** Main section's areas ****************************/

/* Anything with this class will be a flex container - other classes will set the specifics of how the container works */
.container {
  display: flex;
  justify-content: center;
}

/* heading and content set up spacing of the content in each area of the container */
.heading {
  align-self: center;
  min-width: 90%;
  text-align: center;
  padding: 0.5rem;

  /* Apply the separation between the h2 and .bar */
  flex-direction: column;
  justify-content: flex-end;
}

/* draw the line between h2 and content */
.bar {
  border-bottom: 0.4rem solid;
  margin: 0.5rem 0;
}

/********************** Large Mobile Phones (375-425px)  **********************/

@media only screen and (min-width: 375px) {
  .logo h1 {
    font-size: 2.2rem;
  }

  .aboutMe,
  .myWork,
  .contactMe {
    scroll-margin-top: 8rem;
  }
}

/**************************** Tablets (426-765px)  ****************************/

@media screen and (min-width: 426px) {
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo img {
    display: inline;
    height: 6.4rem;
    margin-right: 1rem;
  }

  .logo h1 {
    font-size: 3rem;
  }

  nav {
    align-items: flex-end;
  }

  nav a {
    margin: 0 0.5rem;
    padding: 0.5rem;
    border-bottom: 0.4rem solid var(--primary);
    font-size: 2rem;
    line-height: inherit;
  }

  nav .bar {
    display: none;
  }

  .aboutMe,
  .myWork,
  .contactMe {
    scroll-margin-top: 13.6rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 860px) {
  .contactMe label {
    display: block;
    text-align: center;
  }
}

/*************************** Desktops (769-1440px)  ***************************/

@media screen and (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-image: none;
    background-color: var(--bgColor);
    padding: 1rem 0;
  }

  .logo {
    padding-left: 3rem;
    color: var(--primary);
    background-color: var(--highlight);
  }

  .logo img {
    margin-right: 2rem;
  }

  .logo h1 {
    font-size: 3rem;
  }

  nav {
    padding-right: 3rem;
  }

  nav a {
    /* color transitions from: https://dev.to/flyingduck92/creating-fill-background-animation-for-button-using-css-2me3 I was able to figure out how to get the fill I wanted. */
    background: linear-gradient(
      to top,
      var(--primary) 50%,
      var(--highlight) 50%
    );
    background-size: 100% 200%;
    background-position: top left;
    transition: all 0.5s ease-out;
  }

  nav a:hover {
    color: var(--highlight);
    background-position: bottom left;
  }

  .hero {
    display: block;
    height: 16rem;

    /* so the text can be positioned properly; */
    position: relative;

    /* set background image */
    background-image: url(../images/darkSky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero p {
    /* position the quote */
    position: absolute;
    bottom: 2.5rem;
    right: 3rem;

    /* make the box look good */
    color: var(--primary);
    /* I opted to not use the background color - looked better without 
  background-color: var(var(--highlight)); */

    /* make quote look good */
    font-size: 2.4rem;
    text-align: right;
  }

  /******************************* Main sections  *******************************/
  .aboutMe,
  .myWork,
  .contactMe {
    margin: 1rem;
    border-radius: 0.4rem;
    scroll-margin-top: 10rem;
    flex-direction: row;
  }

  .myWork .content {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .myWork a {
    flex: 0 0 50%;
  }

  .myWork img {
    filter: blur(1px) opacity(0.4);
    transition: all 0.1s ease-in-out;
  }

  .myWork a img:hover {
    filter: none;
  }

  .contactMe .content {
    flex-direction: row;
    flex: 1;
  }

  .contactMe ul {
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
  }

  /**************************** Main section's areas ****************************/
  .heading {
    flex: 1 1 100%;
    max-width: 15rem;
    min-width: 5rem;
    text-align: right;

    align-self: auto;
    flex-direction: row;
  }

  .bar {
    /* turn off what was  */
    border-bottom: none;
    margin: 0;

    /* turn on the now */
    border-right: 0.4rem solid;
    margin-left: 2rem;
  }
}
