/* Mobile first approach to CSS  starting w/ screen width of 320px */
/* variables: */
:root {
  --primary: #ededf6;
  --secondary: #445876;
  --highlight: #670667;
  --bgColor: #030542;
  --heroImg: url(../images/darkSky.jpg);
}

/* universal selector - set box style */
* {
  box-sizing: border-box;

  /* for test purposes */
  /* border: 1px dotted red; */
}

/* set default font to ~10px per rem */
html {
  font-size: 62.5%;
}

body {
  /* make a flex container */
  display: flex;
  /* show items vertically -- these are the main containers */
  flex-direction: column;

  /* set up the screen */
  width: 100%; /* use entire screen */
  margin: 0; /* no margins */

  /* set default colors */
  color: var(--secondary);
  background-color: var(--bgColor);

  /* set default fonts */
  font-family: "Noto Sans", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

/*********************************** Header ***********************************/
header {
  /* be sure to keep the background color when scrolling */
  color: var(--primary);
  background-color: var(--highlight); /* used if no image */
  background-image: var(--heroImg);
  background-size: cover;
  width: 100%;
  padding: 0.5rem 0;

  /* set up how items fit in the container */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  /* fix to the top of the page (sticky does this without realtive positioning!) */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10; /* force it to be on top */
}

.logo h1 {
  text-align: center;
  font-size: 2rem;
}

/* size the headshot image */
.logo img {
  display: none;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 0 0.5rem;
}

nav a {
  padding: 0.25rem;
  line-height: 2rem;
  text-align: center;
}

nav .bar {
  border-right: 0.2rem solid;
  margin: 0.5rem;
  align-self: stretch;
}

/******************************* Main sections  *******************************/

.hero {
  display: none;
}

.aboutMe,
.myWork,
.contactMe {
  background-color: var(--primary);
  margin: 0.5rem;
  padding: 0.5rem;

  scroll-margin-top: 10rem;
  flex-direction: column;
}

/**** About Me ****/
.aboutMe p {
  text-indent: 3rem;
  text-align: justify;
}

/**** My Work ****/
.myWork .content {
  flex-direction: column;
}

.myWork a {
  /* display: block; */
  position: relative;
  padding: 1rem;
  /* flex: 1 0 100%; */
}

.myWork img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  object-position: top;
}

.img-text {
  /* position the box */
  position: absolute;
  top: 5rem;
  left: 0;

  /* make the box look good */
  color: var(--primary);
  background-color: var(--highlight);
  padding: 1rem;
  padding-left: 5rem;
}

.project-name {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.technologies {
  font-style: italic;
}

/**** Contact Me ****/
.contactMe .content {
  justify-content: space-around;
  flex-direction: column;
}

.contactMe ul {
  flex-direction: column;
  align-items: center;
}

.contactMe li {
  border-bottom: 0.3rem solid var(--highlight);
  padding: 0.4rem;
}

.contactMe a {
  font-weight: bold;
  color: var(--highlight);
}

/**************************** Main section's areas ****************************/

/* Anything with this class will be a flex container - other classes will set the specifics of how the container works */
.container {
  display: flex;
}

/* heading and content set up spacing of the content in each area of the container */
.heading {
  align-self: center;
  min-width: 90%;
  text-align: center;
  padding: 0.5%;

  /* Apply the separation between the h2 and .bar */
  flex-direction: column;
  justify-content: flex-end;
}

/* draw the line between h2 and content */
.bar {
  border-bottom: 0.4rem solid;
  margin: 0.5rem 0;
}

/* media query stuff:

.logo {
  /* center the items vertically in the container */
/*  display: flex;
  flex-direction: column;
  align-items: center;
}




*/
