/* universal selector - set box style */
* {
  box-sizing: border-box;

  /* for test purposes */
  border: 1px dotted black;
}

body {
  /* make a flex container */
  display: flex;
  /* show items vertically -- these are the main containers */
  flex-direction: column;

  /* do this so the header can be fixed */
  position: relative;

  /* set up the screen */
  width: 100%;
  /* height: 100vh; */
  margin: 0;
  padding-top: 60px; /* padding will allow a fixed header */
  background-color: rgb(160, 193, 255);
  color: antiquewhite;
  font-size: 16px;
  line-height: 1.5em;
}

/* set common style for header footer */
header {
  background-color: blue;
  height: 60px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  /* fix to the top of the page */
  position: fixed;
  top: 0;
}

/* Anything with this class will be a flex container - other classes will set the specifics of how the container works */
.container {
  display: flex;
}

/* heading and content set up spacing of the content in each area of the container */
.heading {
  /* won't grow, but will shrink - basis is 10% but there is a min/max on sizing so it won't grow too much or lose the line boundaries*/
  flex: 0 1 10%;
  max-width: 10%;
  min-width: 5%;
  text-align: right;
  padding: 0.5%;

  border-right: 5px solid;

  /* align at the top of the section */
  align-self: flex-start;
}

.content {
  flex: 1 1;
  padding: 0 2%;
}

/* About Me section */
.aboutMe {
  align-items: stretch;
}

/* My Work section */
.myWork ul {
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center; /* so any straggler is centered on the screen (even # of <li>s*/
}

.myWork li {
  flex: 1 1 50%;
  max-width: 45%;
}

.myWork li:first-child {
  max-width: 100%;
}
.myWork img {
  /* scale the image and make it display on its own*/
  max-width: 100%;
  max-height: 100%;
  display: block;
}

/* Contact Me section */
.contactMe ul {
  /*set formatting of items in list */
  justify-content: space-around;
}

/************************* Tablet view port settings  *************************/
@media screen and (max-width: 992px) {
  header {
    background-color: darkgreen;
  }
}

/*********************** Large phone view port settings ***********************/
@media screen and (max-width: 768px) {
  header {
    background-color: green;
  }
}

/*********************** Small phone view port settings ***********************/
@media screen and (max-width: 576px) {
  header {
    background-color: lightgreen;
  }
}
