/* variables: */
:root {
  --primary: #ededf6;
  --secondary: #445876;
  --highlight: #670667;
  --bgColor: #030542;
}
/* universal selector - set box style */
* {
  box-sizing: border-box;

  /* for test purposes */
  /* border: 1px dotted red; */
}

html {
  font-size: 62.5%;
}

body {
  /* make a flex container */
  display: flex;
  /* show items vertically -- these are the main containers */
  flex-direction: column;

  /* set up the screen */
  width: 100%; /* use entire screen */
  margin: 0; /* no margins */

  /* set default colors */
  color: var(--secondary);
  background-color: var(--bgColor);

  /* set default fonts */
  font-family: "Noto Sans", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

/* set common style for header footer */
header {
  background-color: var(
    --bgColor
  ); /* be sure to keep the background color when scrolling */
  width: 100%;
  padding: 1% 0;

  /* set up how items fit in the container */
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* fix to the top of the page (sticky does this without realtive positioning!) */
  position: sticky;
  top: 0;
  z-index: 10; /* force it to be on top */
}

.logo {
  /* center the items vertically in the container */
  display: flex;
  align-items: center;

  /* give the container size and space around it */
  padding: 0.125% 1% 0.125% 3%;

  /* setup color scheme */
  color: var(--primary);
  background-color: var(--highlight);
}

/* size the image */
.logo img {
  height: 6.4rem;
  margin-right: 2em;
}

.logo h1 {
  font-size: 4.8rem;
}

nav {
  display: flex;
  justify-content: space-between;

  font-size: 2.4rem;
  padding-right: 3%;
}

nav a {
  /* format display */
  flex: 1 1 auto;
  margin: 0 0.5rem;

  /* set up underline */
  padding: 0.5rem;
  border-bottom: 0.4rem solid var(--primary);

  /* setup color scheme */
  color: var(--primary);

  /* colors the button on hover... not quite right as it doesn't "flow" it just fades in. 
  transition: background-color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
  
  from: https://dev.to/flyingduck92/creating-fill-background-animation-for-button-using-css-2me3 I was able to figure out how to get the fill I wanted. */

  background: linear-gradient(to top, var(--primary) 50%, var(--highlight) 50%);
  background-size: 100% 200%;
  background-position: top left;
  transition: all 0.5s ease-out;
}

nav a:hover {
  color: var(--highlight);
  background-position: bottom left;
}

/* Anything with this class will be a flex container - other classes will set the specifics of how the container works */
.container {
  display: flex;
}

/* heading and content set up spacing of the content in each area of the container */
.heading {
  /* won't grow, but will shrink - basis is 100% so it will start out using 15% of the space (from the min/max). */
  flex: 1 1 100%;
  max-width: 15%;
  min-width: 5%;
  text-align: right;
  padding: 0.5%;

  /* Apply the separation between the h2 and .bar */
  justify-content: flex-end;
}

/* draw the line between h2 and content */
.bar {
  border-right: 0.4rem solid;
  margin-left: 2rem;
}

.content {
  flex: 1 1 auto;
  padding: 0 2%;
}

/* Hero section */
.hero {
  flex: 0 1 auto;
  height: 16rem;

  /* so the text can be positioned properly; */
  position: relative;

  /* set background image */
  background-image: url(../images/darkSky.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero p {
  /* postion the quote */
  position: absolute;
  bottom: 2.5rem;
  right: 3rem;

  /* make the box look good */
  color: var(--primary);

  /* make quote look good */
  font-size: 2.4rem;
  text-align: right;
}

/* Actual content sections */
.aboutMe,
.myWork,
.contactMe {
  margin: 1%;
  padding: 0.25% 0;
  background-color: var(--primary);
  color: var(--secondary);
  border-radius: 0.4rem;
  /* to stop from scrolling above the sticky header */
  scroll-margin-top: 10rem;
}

/****************************** About Me Section ******************************/

.aboutMe {
  align-items: stretch;
}

/****************************** My Work Section  ******************************/
.myWork {
  /* justify-content: stretch;
  align-items: stretch; */
}

.myWork .content {
  flex-wrap: wrap;
}

.myWork a {
  /* inline item won't display as section */
  display: block;

  /* display 2 columns of items */
  flex: 1 0 50%;

  /* so I can overlay the text on the image */
  position: relative;

  /* formmating */
  padding: 1rem;
}

/* change behavior of the first child */
.myWork a:first-child {
  flex: 1 0 100%;
}

.myWork a img {
  width: 100%;
  object-fit: cover;
  height: 50%;

  filter: blur(1px) opacity(0.4);
  transition: all 0.1s ease-in-out;
}

.myWork a img:hover {
  filter: none;
}

.img-text {
  /* position the box */
  position: absolute;
  top: 5rem;
  left: 0;

  /* make the box look good */
  color: var(--primary);
  background-color: var(--highlight);
  padding: 1rem;
  padding-left: 5rem;
}

.project-name {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.technologies {
  font-style: italic;
}

/***************************** Contact Me Section *****************************/
.contactMe .content {
  justify-content: space-around;
  align-items: center;
}

.contactMe ul {
  /*set formatting of items in list */
  justify-content: space-around;
  align-items: center;

  flex: 1 1 auto;
}

.contactMe li {
  border-bottom: 0.4rem solid var(--highlight);
  padding: 0.4rem;
}

.contactMe a {
  font-weight: bold;
  color: var(--highlight);
}

/* change the name size */
@media screen and (max-width: 1425px) {
  .logo h1 {
    font-size: 3.2rem;
  }
}

@media screen and (max-width: 1198px) {
  .logo h1 {
    font-size: 2.4rem;
  }
}

/************************* Tablet view port settings  *************************/
@media screen and (max-width: 1000px) {
  header {
    background-color: var(--highlight); /* for test */
    flex-direction: column;
    align-items: stretch;
  }

  .logo {
    flex: 1 0 100%;
    padding: 0.125%;
    margin: 0;
    align-self: center;
  }

  .logo h1 {
    font-size: 4.8rem;
  }

  nav {
    flex: 1 0 auto;
    padding: 1%;
  }

  nav a {
    text-align: center;
  }
}

/* where the contact me lines break - this is to force the content on different lines */
@media screen and (max-width: 860px) {
  .logo h1 {
    font-size: 4rem;
  }

  .contactMe ul {
    padding-bottom: 0.5rem;
  }

  .contactMe label {
    display: block;
    text-align: center;
  }
}

/*********************** Large phone view port settings ***********************/
@media screen and (max-width: 768px) {
  header {
    background-image: url(../images/darkSky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .logo {
    background-color: transparent;
  }

  nav a {
    background: none;
  }

  nav a:hover {
    color: var(--primary);
  }

  .hero {
    display: none;
  }

  .container {
    flex-direction: column;
  }

  .heading {
    flex: 1 0 auto;
    min-width: 90%;
    max-width: none;

    text-align: center;
    align-self: center;

    /* switch the border from the side to the bottom */
    border-bottom: 0.4rem solid;
    border-right: none;

    position: sticky; /* not working */
  }

  .aboutMe,
  .myWork,
  .contactMe {
    margin: 0;
    border-radius: 0;
  }

  .contactMe label {
    display: inline;
  }
}

@media screen and (max-width: 637px) {
  .logo h1 {
    font-size: 3.2rem;
  }
}

/*********************** Small phone view port settings ***********************/
/* I decided this wasn't actually needed */
/* @media screen and (max-width: 576px) {
  header {
    background-color: lightgreen;
  }
} */
